<%if current_user%>

<%= link_to 'Edit', edit_assistance_list_path(@assistance_list) %> |
<%= link_to 'Back', assistance_lists_path %>
<%else%>
<h1>no puede realizar esta accion, porfavor contactese</h1>
<%end%>
