<p>
  <b>Name:</b>
  <%=h @social_work.name %>
  <br>
  <% @social_work.social_work_photos.each do |photo| %>
    <%= image_tag photo.data.url, :size => "320x240" %>
  <% end %>
</p>


<%= link_to 'Back', social_works_path %>