<p>
  <b>Id course type:</b>
  <%=h @workshop_course_type.id_course_type %>
</p>

<p>
  <b>Id workshop:</b>
  <%=h @workshop_course_type.id_workshop %>
</p>


<%= link_to 'Edit', edit_workshop_course_type_path(@workshop_course_type) %> |
<%= link_to 'Back', workshop_course_types_path %>