<%if current_user%>
<h1>Ver Curso de Formaci칩n</h1>

<table>

  <tr>
    <td><b>Nombre</b></td>
    <td><%=h @courses_type.name %></td>
  </tr>

  <tr>
    <td width="250"><b>Descripci칩n</b></td>
    <td width="250"><%=h @courses_type.description %></td>
  </tr>


  <tr align="right">
    <td colspan="2">
      <%= link_to 'Editar', edit_courses_type_path(@group) %> |
      <%= link_to 'Volver', courses_types_path %>
    </td>
  </tr>

</table>
<%else%>
  <h2>No puede realizar esta acci칩n, por favor cont치ctese con el administrador del sistema</h2>
<%end%>