/* container for slides */
.images {
	background:#fff url(../images/h300.png) repeat-x;
	border:1px solid #ccc;
	position:relative;	
	float:left;	
	margin:15px;
	cursor:pointer;
        width: 456px;
        height: 300px;
	/* CSS3 tweaks for modern browsers */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0 0 25px #666;
	-webkit-box-shadow:0 0 25px #666;	
}

/* single slide */
.images div {
	display:none;
	position:absolute;
	top:0;
	left:0;		
	margin:7px;
	padding:15px 30px 15px 15px;
	height:256px;
	font-size:12px;
}

/* header */
.images h3 {
	font-size:22px;
	font-weight:normal;
	margin:0 0 20px 0;
	color:#456;
}

.slidetabs {
	clear:both;
	margin-left:330px;
	background:#555 0 0 no-repeat;
}

/* single tab */
.slidetabs a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	display:block;
	font-size:1px;		
}

/* mouseover state */
.slidetabs a:hover {
	background-position:center center;      
}

/* active state (current page state) */
.slidetabs a.current {
	background-position:bottom center;     
} 	

/* prev and next buttons */
#forward, #backward {
	float:left;
	margin-top:140px;
	display:block;
	width:36px;
	height:36px;
	cursor:pointer;
	font-size:1px;
	text-indent:-9999em;	
}

/* next */
#forward 				{background-position: center top; background: url(../images/arrowsf.png) no-repeat; }
#forward:hover 		{ background-position: center center; }
#forward:active 	 	{ background-position:center bottom; } 


/* prev */
#backward 				{margin-left: 35px; background-position: center top; background: url(../images/arrowsb.png) no-repeat; }
#backward:hover 		{ background-position: center center; }
#backward:active 	 	{ background-position:center bottom; } 

/* disabled navigational button. is not needed when tabs are configured with rotate: true */
.disabled {
	visibility:hidden !important;		
}