<p>
  <b>Name:</b>
  <%=h @campaing.name %>
  <br>
  <% @campaing.campaing_photos.each do |photo| %>
    <%= image_tag photo.data.url, :size => "320x240" %>
  <% end %>
</p>


<%= link_to 'Back', campaings_path %>
