<!-- footer starts -->
<div id="footer-wrap">
  <div id="footer-content">
    <div id="footer-columns">
      <div class="col3">
        <h3>Donaciones</h3>
        <ul>
          <li>Apoya a nuestro trabajo!!!</li>
          <li>Cuenta Banco Nacional de Bolivia:
            <br>350-0285167</br></li>

        </ul>
      </div>
      <div class="col3-center">
        <h3>horario de atencion</h3>
        <ul>
          <li>Lunes - Viernes</li>
          <li>09:00 - 16:30<br> Horario Continuo<br></li>
        </ul>
      </div>
      <!-- footer-columns ends -->
    </div>

    <div id="footer-bottom">
      <p>
        &copy; 2011<strong> Taller de desarrollo - UCB II-11</strong>&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Inicio',:controller => "main_page", :action => "index" %>&nbsp;|&nbsp;
        <%= link_to 'Contactanos',:controller => "emailer", :action => "contact_us"%>

    </div>
  </div>
</div>