<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.caritassbba.org" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title>Caritas</title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= javascript_include_tag :defaults %>

    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="author" content="Taller de desarrollo" />
    <meta name="description" content="Caritas" />
    <meta name="keywords" content="keywords, here" />
    <meta name="robots" content="index, follow, noarchive" />
    <meta name="googlebot" content="noarchive" />

    <link rel="stylesheet" href="stylesheets/Caritas.css" type="text/css" />

  </head>

  <body>

	<div id="content-wrap">
    		<%= render :partial => "lateralMenu" %>
		<div id="main">

		  <h2><a href="index.html" title="">Bienvenidos</a></h2>

            <p><strong>Pastoral Social Caritas</strong>                             La Pastoral Social Caritas de Cochabamba, como órgano
            técnico ejecutivo de la Iglesia Católica, viene desarrollando su trabajo  dentro el territorio de la jurisdicción de la Arquidiócesis de  Cochabamba desde el 04 de diciembre de 1958.
            <a href="index.html">leer mas</a>...</p>
		<!-- main ends -->
	  </div>
    </div>
  </body>
</html>