    <div id="content-wrap">

                    <%= render :partial => "acordeon" %>
        <div id="content">
      <%= render :partial=>"carousel" %>
        </div>
      <div id="main">
		  <h2><a href="index.html" title="">Bienvenidos</a></h2>


            <p><strong>Pastoral Social Caritas</strong>                             La Pastoral Social Caritas de Cochabamba, como órgano
            técnico ejecutivo de la Iglesia Católica, viene desarrollando su trabajo  dentro el territorio de la jurisdicción de la Arquidiócesis de  Cochabamba desde el 04 de diciembre de 1958.
              <%= link_to "Seguir leyendo.", :controller => "main_page", :action => "quienesSomos" %>
		<!-- main ends -->
	  </div>

    </div>