 <div id="content-wrap">
      <%= render :partial => "lateralMenu" %>
      <div id="main">

        <h2><a href="index.html" title="">Quienes Somos</a></h2>

        <p align="justify">
          Al igual que todas las Caritas del mundo, el fundamento del servicio que presta Pastoral Social Caritas Cbba se encuentra enraizado en el amor de Dios que busca la vida en plenitud del hombre: “Yo he venido para que tengan vida y vida en abundancia” (Jn 10,10).<br><br>
Nuestro servicio quiere tomar ejemplo de las primeras comunidades cristianas: “La multitud de fieles tenía un solo corazón y una sola alma. Nadie consideraba como suyo lo que poseía sino que todo lo tenían en común… No había entre ellos ningún necesitado, porque todos los que tenían campos o casas los vendían y ponían el dinero a los pies de los apóstoles, quienes repartían a cada uno según sus necesidades” (Hech 4, 32; 34 – 35)<br><br>
      Motivados desde nuestra fe por ese mismo Espíritu, queremos, a través de la solidaridad de personas particulares o instituciones, proponer iniciativas que busquen el desarrollo integral de las personas y comunidades más necesitadas.
<br><br><strong>MISION</strong><br><br>
"Reflejar el amor de Dios a través de la promoción y vivencia de los valores del Reino. "
<br><br><strong>VISION</strong><br><br>
"Aportar en la construcción de una comunidad que tiene -en Jesucristo- la vida en plenitud. "
        </p>
        <!-- main ends -->
      </div>
    </div>
